.footer{
  background: transparent !important;
}
.p-red{
    color: rgb(114, 43, 25);
  }
.p-blue{
    color: rgb(15, 23, 49);
  }
  ion-icon {
    font-size: 40px;
  }
  .book-icon-blue {
    padding-top: 5px;
    font-size: 55px;
    color: #466CDE;
  }
  .book-icon-red {
    padding-top: 5px;
    font-size: 55px;
    margin: auto;
    color: #E55733;
  }

  .searchbar-md{
    background-color: rgba(245, 245, 245, 0.925);
  }
