<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
  <ion-label>Select currency</ion-label>
  <ion-select  [(ngModel)]="currency" name="currency" type="text" (ngModelChange)="saveSelectedCurrency($event)">
    <ion-option *ngFor="let currency of popularCurrencies" [value]="currency">{{currency}}</ion-option>
  </ion-select>
  </ion-item>
  <ion-item  *ngIf="this.currency == 'other'">
   <ion-label>Please add a currency</ion-label>
    <ion-input [(ngModel)]="currencies" (ngModelChange)="currencies = $event.toLocaleUpperCase(); checkCurrency($event)" name="currencies" type="text"></ion-input>
  </ion-item>
  <ion-item  *ngIf="this.ifExists !== '' && this.currency == 'other'">
    <p>{{ifExists}}</p>
   </ion-item>
  <ion-item *ngIf="this.currency == 'other'">
      <button margin-bottom="1em;" ion-button type="submit" [disabled]="!currencies" (click)="saveCurrency()">Done</button>
  </ion-item>
  <ion-list>
    <button ion-item (click)="shareFeedback()">
      <ion-label>Feedback</ion-label>
    </button>
    <button ion-item (click)="privacyPolicy()">
      <ion-label>Privacy Policy</ion-label>
    </button>
  </ion-list>
</ion-content>
