.my-checkbox {
    display: flex;
    align-items: center;
}

.text-input::-webkit-input-placeholder {
    text-align: right;
  }
  
  .text-input:-moz-placeholder {
    text-align: right;
  }
  
  .text-input::-moz-placeholder {
    text-align: right;
  }
  
  .text-input:-ms-input-placeholder {
    text-align: right;
  }